/* ===== FONT ===== */
@font-face {
    font-family: omega-bold;
    src: url(../font/omegact-bold-webfont.woff2);
}

@font-face {
    font-family: omega-regular;
    src: url(../font/omegact-regular-webfont.woff2);
}

@font-face {
    font-family: omega-light;
    src: url(../font/omegact-light-webfont.woff2);
}

@font-face {
    font-family: icomoon;
    src: url(../font/icomoon.woff2);
}

/* ===== ROOT ===== */
:root {
    /* Height */
    --header-height: 100px;
    /* Color */
    --first-color: #c40d2e;
    --text-color: #555;
    --border-color: #e2e2e2;
    /* Z-Index */
    --z-tooltip: 10;
    --z-fixed: 100;
}

/* ===== BASE ===== */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'omega-regular', Arial, Helvetica, sans-serif;
    font-size: 10px;
    scroll-behavior: smooth;
}

body {
    background: rgb(250, 249, 200);
    font-size: 1.6rem;
    color: var(--text-color);
}

h1, h2, h3, h4, h5 {
    font-weight: 400;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    color: var(--text-color);
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    outline: none;
    border: none;
    cursor: pointer;
}

/* ===== REUSABLE CSS CLASSES ===== */
.section {
    padding-top: 100px;
}

.section-title {
    font-size: 3.8rem;
    color: var(--first-color);
    line-height: 120%;
    letter-spacing: 6px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 25px;
}

.container {
    max-width: 1054px;
    /* margin-left: 20px;
    margin-right: 20px; */
    margin: 0 auto;
}

.flex {
    display: flex;
}

.col-2 { width: 16.6666%}
.col-3 { width: 25% }
.col-4 { width: 33.3333% }
.col-6 { width: 50% }
.col-8 { width: 66.6666% }

.hide {
    display: none;
}

.omega-font-bold {
    font-family: 'omega-bold', Arial, Helvetica, sans-serif;
}

.omega-font-light {
    font-family: 'omega-light', Arial, Helvetica, sans-serif;
}

.text-none {
    text-transform: none;
}

.panel {
    position: fixed;
    background: #fff;
    box-shadow: inset 0 1px 2px 0 rgb(0 0 0 / 12%),
    0 1px 2px 0 rgb(0 0 0 / 12%);
    text-align: center;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 100;
    transition: 0.2s;
}

/* Button */
.button {
    position: relative;
    padding: 0 40px;
    line-height: 46px;
    background: #fff;
    border: 1px solid var(--border-color);
    overflow: hidden;
    transition: 0.2s ease;
}

.button-text {
    display: inline-block;
    color: var(--text-color);
    font-family: 'omega-bold', Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    transition: 0.2s ease;
}

.button:before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--first-color);
    transition: 0.6s cubic-bezier(.19,1,.22,1);
}

.button:hover {
    border-color: var(--first-color);
}

.button:hover:before {
    top: 0;
}

.button:hover .button-text {
    color: #fff;
}

/* Icons */
.icomoon {
    cursor: pointer;
    transition: 0.2s;
}

[data-icon]:before {
    font-family: "icomoon";
    content: attr(data-icon);
    font-size: 17px;
    line-height: 0;
    vertical-align: middle;
}

.icomoon:hover {
    color: var(--first-color);
}

.icomoon-compare::before {
    font-size: 20px;
}

/* bar */
.bar {
    position: relative;
    display: block;
    width: 15px;
    height: 2px;
    background: var(--text-color);
    transition: 0.2s;
}

.bar-wrapper .bar:nth-child(2) {
    margin: 2px 0;
}

.bar-wrapper.active .bar {
    background: var(--first-color);
}

.bar-wrapper.active .bar-1 {
    transform: rotateZ(45deg) translate(2.5px, 3px);
}

.bar-wrapper.active .bar-2 {
    opacity: 0;
}

.bar-wrapper.active .bar-3 {
    transform: rotateZ(-45deg) translate(2.5px, -3px);
}

/* ===== OVERLAY ===== */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    overflow: hidden;
    opacity: 0;
    visibility: hidden;
    z-index: 99;
    transition: 0.2s;
}

#overlay.active {
    opacity: 1;
    visibility: visible;
}

body.overlay-active {
    height: 100vh;
    overflow-y: hidden;
    margin-right: 17px;
}

body.overlay-active::before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 17px;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 3px rgb(0 0 0 / 12%);
    z-index: 101;
}

body.overlay-active .header__container {
    padding-right: 17px;
}

/* ===== NAVBAR ===== */
.nav {
    position: fixed;
    top: var(--header-height);
    left: -100%;
    width: 350px;
    height: calc(100% - var(--header-height));
    overflow-y: scroll;
    z-index: var(--z-fixed);
    transition: 0.5s ease;
}

.nav.active {
    left: 0%;
}

.nav::-webkit-scrollbar {
    display: none;
}

.nav__container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100%;
    padding: 50px 30px 50px 75px;
    background: #fff;
}

.nav-list {
    width: 200px;
    font-size: 13px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
}

.nav-title {
    position: relative;
    padding: 12px 20px 12px 0;
    cursor: pointer;
    transition: 0.2s;
}

.nav-item.active .nav-title,
.nav-item:hover .nav-title {
    color: var(--first-color);
}

.nav-title .icomoon-arrow::before {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 11px;
    transition: 0.2s;
}

.nav-item.active .icomoon-arrow::before {
    transform: rotateZ(90deg);
}

.subnav-list {
    padding-left: 30px;
    max-height: 0;
    overflow: hidden;
    transition: 0.5s cubic-bezier(.4,.9,.6,1);
}

.nav-item.active .subnav-list {
    max-height: 50em;
    transition: 1s ease;
}

.subnav-list .subnav-item:first-child {
    margin-top: 15px;
}

.subnav-list .subnav-item:last-child {
    margin-bottom: 15px;
}

.subnav-item {
    padding: 10px 0;
}

.subnav-item > a {
    width: 100%;
    transition: 0.2s;
}

.subnav-item a:hover {
    color: var(--first-color);
}

.nav-button {
    padding: 0 10px;
    width: 100%;
    line-height: 38px;
}

.nav-button .button-text {
    font-size: 13px;
}

.nav-button .icomoon-setup {
    transition: none;
}

.nav-separator {
    width: 100%;
    height: 1px;
    background: #e5e5e5;
    margin: 25px 0;
}

.nav-icon {
    position: relative;
    bottom: 2px;
    color: #cacaca;
}

.nav-item.active .nav-icon,
.nav-title:hover .nav-icon {
    color: var(--first-color);
}

.nav__panel {
    top: var(--header-height);
    left: -350px;
    width: 640px;
    padding: 60px 30px 30px;
    height: calc(100% - var(--header-height));
    background: #f9f9f9;
    overflow-y: scroll;
    z-index: -1;
}

.nav__panel::-webkit-scrollbar {
    display: none;
}

.subnav-item.active .nav__panel {
    left: 350px;
    opacity: 1;
    visibility: visible;
    pointer-events: visible;
}

.nav__panel .panel-title {
    height: 23px;
    margin-bottom: 15px;
}

.nav__panel .panel-product {
    padding: 12px 16px;
}

.nav__panel .panel-product-name {
    margin-top: 3px;
}



/* ===== HEADER ===== */
.header {
    position: fixed;
    top: -100%;
    left: 0;
    right: 0;
    width: 100%;
    height: var(--header-height);
    background: #fff;
    box-shadow: 0 1px 2px 0 rgb(0 0 0 / 12%);
    z-index: var(--z-fixed);
    transition: 0.5s cubic-bezier(.4,.57,.55,1);
}

.header.active {
    top: 0%;
}

.header__container {
    margin: 0 40px;
    padding-top: 10px;
}

.header__top {
    position: relative;
    height: 40px;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.header__top-left {
    font-size: 13px;
    align-items: center;
}

.header__menu {
    align-items: center;
    cursor: pointer;
    transition: 0.2s;
}

.header__menu:hover {
    color: var(--first-color);
}

.header__menu:hover .bar {
    background: var(--first-color);
}

.menu-text {
    margin-left: 10px;;
    width: 40px;
    text-align: right;
    text-transform: uppercase;
}

.menu-btn.active + .menu-text {
    color: var(--first-color);
}

.seperate {
    display: inline-block;
    width: 1px;
    height: 10px;
    background: var(--text-color);
    margin: 0 20px;
}

.header__contact {
    position: relative;
}

.header__contact-phone {
    display: inline-block;
    line-height: 40px;
    letter-spacing: 1px;
    cursor: pointer;
    transition: 0.2s;
}

.header__contact-phone:hover {
    color: var(--first-color);
}

.header__contact-opening {
    padding: 15px;
    position: absolute;
    top: 100%;
    left: 50%;
    width: 300px;
    background: #fff;
    border: 1px solid var(--boder-color);
    box-shadow: 4px 8px 9px 0 rgb(0 0 0 / 15%);
    text-align: center;
    transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    z-index: var(--z-tooltip);
    transition: 0.2s;
}

.header__contact:hover .header__contact-opening {
    opacity: 1;
    visibility: visible;
}

.header__logo-wrapper {
    width: 70px;
    height: 35px;
}

.header__top-right > div{
    position: relative;
    margin-left: 20px;
}

.header__top-right > div:hover {
    color: var(--first-color);
}

.notification {
    padding-right: 5px;
}

.notification::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 6px;
    height: 6px;
    background: var(--first-color);
    border-radius: 50%;
}

[data-count]::after {
    content: attr(data-count);
    display: inline-block;
    position: absolute;
    bottom: -3px;
    right: -3px;
    font-family: 'omega-bold', Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.search-panel {
    /* height: 100px; */
    padding: 30px 0;
    margin: auto 0;
}

.search-wrapper {
    position: relative;
    width: 80%;
    max-width: 800px;
    height: 40px;
    margin: 0 auto;
}

.search-input {
    width: 100%;
    height: 100%;
    font-size: 24px;
    border: none;
    outline: none;
}

.search-button {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    line-height: 40px;
    font-size: 18px;
    background: transparent;
}

.header__bottom {
    height: 50px;
}

.search-line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--boder-color);
}

.search-line::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 1px;
    background: #888;
    transition: 0.3s cubic-bezier(.4,.575,.565,1);
}

.search-input:focus ~ .search-line::before {
    width: 100%;
}

.header__menu-panel {
    height: 100%;
    align-items: center;
    justify-content: center;
}

.header__panel-link {
    padding: 0 16px;
    font-size: 13px;
    letter-spacing: 0.5px;
    transition: 0.2s;
    position: relative;
}

.header__panel-link:hover {
    color: var(--first-color);
}

.header__panel {
    top: var(--header-height);
    left: 0;
    width: 100%;
}

.menu-panel-item .header__panel {
    padding: 56px 0;
}

.header__panel.active,
.menu-panel-item.active > .header__panel,
.menu-panel-item:hover > .header__panel {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}

.header__menu-panel {
    align-items: center;
}

.header__panel-link {
    line-height: 50px;
}

.panel-title {
    height: 24px;
}

.panel-title > img {
    height: 100%;
}

.panel-products {
    flex-wrap: wrap;
    padding-bottom: 30px;
    justify-content: center;
}

.panel-product {
    padding: 12px 4px;
    max-width: 160px;
}

.panel-product-img {
    width: 128px;
    margin: 0 auto;
}

.panel-product-name,
.panel-seeall {
    display: inline-block;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    transition: 0.2s;
}

.panel-seeall:hover,
.panel-product:hover .panel-product-name {
    color: var(--first-color);
}

.panel-seeall {
    position: relative;
}

.panel-seeall::before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #e5e5e5;
    width: 100%;
    height: 1px;
}

.panel-seeall::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    background: var(--first-color);
    width: 0%;
    height: 1px;
    transition: 0.2s;
}

.panel-seeall:hover::after {
    left: 0%;
    width: 100%;
}

.straps-title { 
    font-size: 22px;
    letter-spacing: 6px;
    text-transform: uppercase;
}

.panel-more-container {
    max-width: 1180px;
    width: 100%;
    margin: 0 auto;
}

.more-title {
    font-family: 'omega-bold', Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #8d8d8d;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    margin-bottom: 18px;
}

.panel-collection {
    text-align: left;
}

.panel-collection-list {
    padding-right: 65px;
}

.panel-collection-item {
    position: relative;
    line-height: 0;
    overflow: hidden;
}

.panel-collection-item + .panel-collection-item {
    margin-left: 20px;
}

.panel-collection-item::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom,rgba(0,0,0,0) 0%,rgba(0,0,0,.7) 100%);
    opacity: 0;
    transition: 0.3s;
}

.panel-collection-item:hover::before {
    opacity: 1;
}

.panel-collection-name {
    position: absolute;
    bottom: 20px;
    left: 0;
    width: 100%;
    font-size: 13px;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
}

.more-list-wrapper {
    text-align: left;
    column-count: 3;
}

.more-list-item {
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    border: none;
    padding: 0 0 30px;
}

.more-list a {
    font-family: 'omega-bold', Arial, Helvetica, sans-serif;
    font-size: 13px;
    padding: 6px 0;
    letter-spacing: 0.6px;
    line-height: 1.5;
    text-transform: uppercase;
}

.more-list a:hover {
    color: var(--first-color);
}

.more-seeall {
    margin-top: 40px;
}

.more-seeall a {
    margin: 0 5px;
}







.cac {
    margin-top: 100px;
    height: 2000px;
}